* {
  margin: 0;
  padding: 0;
}
/* navbar */
/* change text color */
.navbar-custom ul li a {
  color: white;
  margin-top: 4px;
  font-family: "Barlow", sans-serif;
}
/* contact nav */
.navbar-custom ul li button {
  background-color: hsl(0, 0%, 100%);
  font-family: "Barlow", sans-serif;
  font-size: large;
  font-weight: 600;
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 25px;
  color: hsl(212, 27%, 19%);
  border: none;
}
.jumbotron {
  background-image: url("./images/desktop/image-header.jpg");
  /* top: 0; */
  height: 90vh;
  background-size: cover;
  background-position: center;
}
*p {
  font-size: 25px;
}
.jumbotron h1 {
  font-size: 3rem;
  padding-top: 10%;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: 5px;
}
.jumbotron div img {
  padding-top: 3%;
}
.sections-desktop .justify-content-start {
  padding: 7%;
}
.sections-desktop .justify-content-start h1 {
  padding: 4%;
}
.sections-desktop .justify-content-start p,
a {
  padding: 2%;
}
.sections-phone {
  display: none;
}
.sections-desktop {
  display: flex;
}
.section-3-img1 {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  padding: 12%;
}
#photography_heading {
  color: hsl(198, 62%, 26%);
}
#graphic_heading {
  color: hsl(167, 40%, 24%);
}
.section-3-img2 {
  background-image: url("images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center;
  padding: 12%;
}
.section-3-img1 .section-3-textarea {
  margin-top: 60%;
}
.section-3-img2 .section-3-textarea {
  margin-top: 60%;
}
/* section heading */
.section-heading {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: hsl(213, 9%, 39%);
}

/* people section */
#client_heading {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: hsl(232, 10%, 55%);
}
.people-section-header h1 {
  margin-top: 10%;
}
.people-row {
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}
.people-row .section-people-textarea a {
  text-decoration: none;
  margin-top: 20%;
  color: hsl(212, 27%, 19%);
  font-family: "Barlow", sans-serif;
  font-weight: 900;
}
.people-row .section-people-textarea .people-title {
  color: hsl(210, 4%, 67%);
  font-family: "Barlow", sans-serif;
  font-weight: 900;
}

/* pics gallery */
.sections-desktop-picgallery {
  display: flex;
}
.sections-phone-picgallery {
  display: none;
}

/* footer */
footer,
footer p,
footer .footer-links a {
  background-color: hsl(168, 34%, 41%);
  color: hsl(167, 40%, 24%);
  padding: 8%;
  font-family: "Barlow", sans-serif;
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .jumbotron {
    background-image: url("./images/mobile/image-header.jpg");
  }
  .sections-phone {
    display: flex;
  }

  .sections-desktop {
    display: none;
  }
  .section-3-img1 {
    background-image: url("images/mobile/image-graphic-design.jpg");
    padding: 15%;
  }
  .section-3-img2 {
    background-image: url("images/mobile/image-photography.jpg");
    padding-top: 100%;
  }
  .section-3-img1 .section-3-textarea {
    margin-top: 90%;
  }
  .section-3-img2 .section-3-textarea {
    margin-top: 17%;
  }
}

@media only screen and (max-device-width: 650px) {
  .sections-desktop-picgallery {
    display: none;
  }
  .sections-phone-picgallery {
    display: flex;
  }
}
